@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'opensans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'opensans', sans-serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background: #FFFFFF
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1920px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* HEADER */

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: flex;
  height: 100px;
  padding: 0 152px 0 160px;
  align-items: center;
  background-color: #000000;
}

.header__burgermenu {
  display: none;
}

.header__burger {
  display: none;
  cursor: pointer;
}

.header__logoblock {
  margin-top: 5px;
  margin-right: 174px;
}

.header__nav {
  margin-right: auto;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  padding: 2px 6px 5px 6px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  color: #FFFFFF;
}

.header__link:hover {
  color: #C283F3;
}

.header__link:focus {
  background-color: #7943A4;
  outline: none;
}

.header__link:active {
  color: #7943A4;
  background: none;
}

.header__enter {
  display: flex;
  align-items: center;
  padding: 8px 8px 8px 8px;
  cursor: pointer;
}

.header__enter:hover .header__enter-icon {
  width: 17.5px;
  background-image: url(../img/header-enter-focus.png);
}

.header__enter:hover .header__enter-link {
  color: #C283F3;
}

.header__enter:focus {
  background-color: #7943A4;
  outline: none;
}

.header__enter:active .header__enter-icon {
  width: 17.5px;
  background-image: url(../img/header-enter-active.png);
}

.header__enter:active .header__enter-link {
  color: #9D5CD0;
}

.header__enter-icon {
  width: 13px;
  height: 13px;
  margin-right: 7px;
  background-image: url(../img/header-enter-icon.svg);
  background-repeat: no-repeat;
}

.header__enter-link {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}

.header__enter-link:active {
  color: #9D5CD0;
}

.header__top-search {
  display: none;
}

.header__searchmenu-tabl {
  display: none;
}

/* Нижнее меню */
.header__bottom-menu {
  display: flex;
  height: 70px;
  padding: 0 160px 0 152px;
  background: rgba(0, 0, 0, 0.4);
}

.header__select-block {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.choices {
  margin: 0;
  margin-right: 80px;
  max-height: 33px;
}

.choices__inner {
  background-color: transparent;
  border: none;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;
}

.choices__list--single {
  padding: 0;
}

.choices__item {
  margin-right: 3px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}

.choices__placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  background: transparent;
}

.choices[data-type*=select-one] {
  padding: 4px 14px 4px 8px;
}

.choices[data-type*=select-one]::after {
  height: 6px;
  width: 6px;
  top: 16px;
  right: 9px;
  border-color: transparent transparent #FFFFFF #FFFFFF;
  border-width: 1px;
  margin-top: -4px;
  transform: rotate(-45deg);
  z-index: 1;
}

.choices[data-type*=select-one]:hover::after {
  top: 16px;
  border-color: transparent transparent #9D5CD0 #9D5CD0;
}

.choices[data-type*=select-one]:hover .choices__placeholder  {
  color: #9D5CD0;
}

.choices[data-type*=select-one].is-open:hover::after {
  border-color:#9D5CD0 #9D5CD0 transparent transparent;
}

.choices[data-type*=select-one]:focus {
  background: #7943A4;
}

.choices[data-type*=select-one]:focus .choices__placeholder {
  color: #FFFFFF;
}

.choices[data-type*=select-one]:focus::after {
  border-color: transparent transparent #FFFFFF #FFFFFF;
}

.choices[data-type*=select-one].is-open:focus::after {
  border-color:#FFFFFF #FFFFFF transparent transparent;
}

.choices[data-type*=select-one]:active:after {
  border-color: transparent transparent #7943A4 #7943A4;
}

.choices[data-type*=select-one].is-open::after {
  top: 20px;
  border-color:#FFFFFF #FFFFFF transparent transparent;
  margin-top: -4px;
}

.choices[data-type*=select-one].is-open:active::after {
  border-color: #7943A4 #7943A4 transparent transparent;
}

.choices[data-type*=select-one]:active .choices__placeholder {
  color: #7943A4;
}

.choices[data-type*=select-one].is-open:active .choices__placeholder {
  color: #7943A4;
}

#choices--selectCustom-item-choice-1 {
  display: none;
}

.choices__list--dropdown {
  min-width: 300px;
  height: 300px;
  padding: 40px;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  margin-top: 18px;
}

.choices__list--dropdown .choices__item--selectable {
  border: 2px solid transparent;
}

.choices__list--dropdown .choices__item--selectable:hover {
  border: 2px solid #9D5CD0;
}

.choices__list--dropdown .choices__item--selectable:focus {
  border: 2px solid #9D5CD0;
}

.choices__list--dropdown .choices__item--selectable:active {
  border: 2px solid #D1A9F0;
  background-color: rgba(194, 131, 243, 0.4);
}

.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: transparent;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: #7943A4;
}

/* Бэкграунд для селекта */

.header__select-one .choices__list--dropdown .choices__item--selectable, .header__select-one .choices__list[aria-expanded] .choices__item--selectable:nth-child(2) {
  background-image: url(../img/select1-img1.png);
}

.header__select-one .choices__list--dropdown .choices__item--selectable, .header__select-one .choices__list[aria-expanded] .choices__item--selectable:nth-child(3) {
  background-image: url(../img/select1-img2.png);
}

.header__select-one .choices__list--dropdown .choices__item--selectable, .header__select-one .choices__list[aria-expanded] .choices__item--selectable:nth-child(4) {
  background-image: url(../img/select1-img3.png);
}

.header__select-one .choices__list--dropdown .choices__item--selectable, .header__select-one .choices__list[aria-expanded] .choices__item--selectable:nth-child(5) {
  background-image: url(../img/select1-img4.png);
}

.header__select-two .choices__list--dropdown .choices__item--selectable, .header__select-two .choices__list[aria-expanded] .choices__item--selectable:nth-child(2) {
  background-image: url(../img/select2-img1.png);
}

.header__select-two .choices__list--dropdown .choices__item--selectable, .header__select-two .choices__list[aria-expanded] .choices__item--selectable:nth-child(3) {
  background-image: url(../img/select2-img2.png);
}

.header__select-two .choices__list--dropdown .choices__item--selectable, .header__select-two .choices__list[aria-expanded] .choices__item--selectable:nth-child(4) {
  background-image: url(../img/select2-img3.png);
}

.header__select-two .choices__list--dropdown .choices__item--selectable, .header__select-two .choices__list[aria-expanded] .choices__item--selectable:nth-child(5) {
  background-image: url(../img/select2-img4.png);
}

.header__select-three .choices__list--dropdown .choices__item--selectable, .header__select-three .choices__list[aria-expanded] .choices__item--selectable:nth-child(2) {
  background-image: url(../img/select3-img1.png);
}

.header__select-three .choices__list--dropdown .choices__item--selectable, .header__select-three .choices__list[aria-expanded] .choices__item--selectable:nth-child(3) {
  background-image: url(../img/select3-img2.png);
}

.header__select-three .choices__list--dropdown .choices__item--selectable, .header__select-three .choices__list[aria-expanded] .choices__item--selectable:nth-child(4) {
  background-image: url(../img/select3-img3.png);
}

.header__select-three .choices__list--dropdown .choices__item--selectable, .header__select-three .choices__list[aria-expanded] .choices__item--selectable:nth-child(5) {
  background-image: url(../img/select3-img4.png);
}

.header__select-four .choices__list--dropdown .choices__item--selectable, .header__select-four .choices__list[aria-expanded] .choices__item--selectable:nth-child(2) {
  background-image: url(../img/select4-img1.png);
}

.header__select-four .choices__list--dropdown .choices__item--selectable, .header__select-four .choices__list[aria-expanded] .choices__item--selectable:nth-child(3) {
  background-image: url(../img/select4-img2.png);
}

.header__select-four .choices__list--dropdown .choices__item--selectable, .header__select-four .choices__list[aria-expanded] .choices__item--selectable:nth-child(4) {
  background-image: url(../img/select4-img3.png);
}

.header__select-four .choices__list--dropdown .choices__item--selectable, .header__select-four .choices__list[aria-expanded] .choices__item--selectable:nth-child(5) {
  background-image: url(../img/select4-img4.png);
}

.header__select-five .choices__list--dropdown .choices__item--selectable, .header__select-five .choices__list[aria-expanded] .choices__item--selectable:nth-child(2) {
  background-image: url(../img/select5-img1.png);
}

.header__select-five .choices__list--dropdown .choices__item--selectable, .header__select-five .choices__list[aria-expanded] .choices__item--selectable:nth-child(3) {
  background-image: url(../img/select5-img2.png);
}

.header__select-five .choices__list--dropdown .choices__item--selectable, .header__select-five .choices__list[aria-expanded] .choices__item--selectable:nth-child(4) {
  background-image: url(../img/select5-img3.png);
}

.header__select-five .choices__list--dropdown .choices__item--selectable, .header__select-five .choices__list[aria-expanded] .choices__item--selectable:nth-child(5) {
  background-image: url(../img/select5-img4.png);
}

/* -------------------------- */

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__item {
  position: relative;
}

.choices__item:not(:last-child) {
  margin-bottom: 20px;
}

.header__searchmenu {
  display: flex;
  align-items: center;
  max-width: 250px;
}

.header__search-img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  margin-top: 10px;
}

.header__form {
  width: 220px;
}

.header__search-input {
  padding: 0;
  width: 100%;
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  background: transparent;
  cursor: pointer;
}

.header__search-input:hover {
  border-bottom-color: #C283F3;
}

.header__search-input:focus{
  border-bottom-color: #C283F3;
  outline: none;
}

.header__search-input:active {
  border-bottom-color: #7943A4;
}

.header__search-input::-webkit-input-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}

.header__search-input::-moz-placeholder {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  color: #FFFFFF;
}

/* HERO */

.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 800px;
}

.hero__container {
  min-height: 800px;
  background-image: url(../img/hero-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 242px 3px 122px 160px;
}

.hero__header {
  margin: 0;
  margin-bottom: 20px;
  max-width: 597px;
  font-size: 72px;
  line-height: 83px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__text {
  margin: 0;
  margin-bottom: 113px;
  max-width: 579px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__link {
  max-width: 308px;
  max-height: 64px;
  padding: 20px 32px 19px 32px;
  background-color: #9D5CD0;
  border: 3px solid transparent;
  border-radius: 100px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  color: #FFFFFF;
}

.hero__link:hover {
  border: 3px solid #D1A9F0;
}

.hero__link:focus {
  outline: 2px solid #C283F3;
  outline-offset: 3px;
}

.hero__link:active {
  background-color: #7943A4;
}

/* ABOUT */

.about {
  padding-top: 800px;
  margin-left: auto;
  margin-right: auto ;
}

.about__container {
  padding: 80px 160px 70px 160px;
}

.about__header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333333;
}

.about__text {
  margin: 0;
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

/* GALERY */

.galery__container {
  display: flex;
  min-height: 595px;
  padding: 80px 160px 77px 160px;
  background-image: url(../img/galery-bgimg.jpg);
}

.galery__leftblock {
  display: flex;
  flex-direction: column;
  margin-right: auto;
}

.galery__header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #FFFFFF;
}

.galery__filter {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #FFFFFF;
}

/* GALERY-селект */

.galery__select-block {
  margin-bottom: auto;
  margin-right: 50px;
  width: 400px;
  height: 40px;
}

.galery__select-block > .choices {
  margin: 0;
  max-height: 40px;
}

.galery__select-block > .choices[data-type*=select-one] {
  padding: 0;
}

.galery__select-block > .choices:hover {
  background: rgba(255, 255, 255, 0.2)
}

.galery__select-block > .choices:focus {
  background: rgba(255, 255, 255, 0.2)
}

.galery__select-block > .choices > .choices__list--dropdown {
  padding: 0;
  height: 80px;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.galery__inner {
  height: 40px;
  width: 400px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 6px;
}

.galery__item {
  height: 40px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #FFFFFF;
  padding-left: 16px;
}

.galery__select-block > .choices[data-type*=select-one]::after {
  top: 19px;
  right: 15px;
}

.galery__select-block > .choices[data-type*=select-one]:hover::after {
  top: 20px;
  border-color: transparent transparent #FFFFFF #FFFFFF;
}

.galery__select-block > .choices[data-type*=select-one]:active:after {
  top: 20px;
}

.galery__select-block > .choices[data-type*=select-one].is-open::after {
  top: 25px;
}

.galery__select-block > .choices[data-type*=select-one].is-open:hover::after {
  border-color:#FFFFFF #FFFFFF transparent transparent;
}

.galery__item:nth-child(2) {
  border-bottom:1px solid #FFFFFF;
}

.galery__list[aria-expanded] .galery__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

.galery__list.choices__list--single {
  padding-left: 0;
  padding-top: 4px;
}

.galery__placeholder {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  opacity: 1;
  background: transparent;
}

#choices--galery-select-item-choice-1 {
  display: none;
}

.galery__list.choices__list--dropdown {
  margin-top: 0;
}

/* GALERY-чекбокс */
.galery__checkbox {
  display: flex;
  flex-direction: column;
}

.galery__checkbox-label {
  position: relative;
  margin-bottom: 8px;
  padding-left: 24px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #FFFFFF;
  cursor: pointer;
}

/* .galery__checkbox-label:not(:last-child) {
  margin-bottom: 10px;
} */

.galery__checkbox-item {
  display: none;
}

.galery__checkbox-item + label > span {
  position: absolute;
  top: 7px;
  left: 0;
  width: 12px;
  height: 12px;
  border: 1px solid #FFFFFF;
}

.galery__checkbox-item + label > span::before {
  content: "";
  position: absolute;
  left: 3px;
  top: 3px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #C283F3;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.galery__checkbox-item:checked + label {
  color: #C283F3;
}

.galery__checkbox-item:checked + label > span {
  border: 1px solid #C283F3;
}

.galery__checkbox-item:checked + label > span::before {
  opacity: 1;
}

/* GALERY-слайдер */

.galery__slider {
  position: relative;
  max-width: 1150px;
}

.galery__swiper {
  width: 100%;
}

.galery__wrapper {
  padding-top: 85px;
}

.galery__img img {
  position: relative;
  cursor: pointer;
}

.galery__img::before {
  display: none;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(194, 131, 243, 0.4);
  border: 2px solid #D1A9F0;
}

.galery__img:active:before {
  display: block;
}

.galery__img::after {
  display: none;
  content:"";
  position: absolute;
  top: 25px;
  left: 25px;
  right: 25px;
  bottom: 25px;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../img/galery-hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.galery__img:hover:after {
  display: block;
}

.galery-swiper-pagination {
  position: absolute;
  top: 32px;
  text-align: start;
  left: 52px;
}

.swiper-pagination-fraction {
  font-size: 16px;
  color: #FFFFFF;
}

.galery-swiper-button-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 5px;
  background-color: #666666;
  border-radius: 50%;
  cursor: pointer;
}

.galery-swiper-button-prev:hover {
  background-color: #9D5CD0;
}

.galery-swiper-button-prev:focus {
  border: 2px solid #000000;
}

.galery-swiper-button-prev:active {
  background-color: #9D5CD0;
  border: 2px solid #000000;
}

.galery-swiper-button-prev::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 35%;
  width: 7px;
  height: 7px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(135deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

.galery-swiper-button-next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 25px;
  left: 105px;
  background-color: #666666;
  border-radius: 50%;
  cursor: pointer;
}

.galery-swiper-button-next:hover {
  background-color: #9D5CD0;
}

.galery-swiper-button-next:focus {
  border: 2px solid #000000;
}

.galery-swiper-button-next:active {
  background-color: #9D5CD0;
  border: 2px solid #000000;
}

.galery-swiper-button-next::after {
  content: "";
  position: absolute;
  left: 30%;
  top: 35%;
  width: 7px;
  height: 7px;
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  transform: rotate(-45deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

/* CATALOG */

.catalog__container {
  padding: 80px 160px 80px 160px;
}

.catalog__header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333333;
}

.catalog__text {
  margin: 0;
  margin-bottom: 40px;
  max-width: 1080px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

.catalog__content {
  display: flex;
  justify-content: space-between;
}

.catalog__block-left {
  max-width: 750px;
  margin-right: 50px;
  flex-grow: 1;
}

.catalog__left-content {
  display: none;
}

.catalog__left-content_active {
  display: block;
}

.catalog__left-img {
  margin-bottom: 26px;
}

.catalog__left-name {
  margin: 0;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: #333333;
}

.catalog__left-birth {
  margin: 0;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #999999;
}

.catalog__left-text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

/* CATALOG - аккордеон */

.catalog__block-right {
  max-width: 800px;
  flex-grow: 1;
}

.ui-accordion {
  width: 100%;
}

.ui-accordion .ui-accordion-header {
  min-height: 114px;
  margin: 0;
  padding: 40px 0 41px 0;
  font-size: 24px;
}

.ui-accordion .ui-accordion-content {
  padding: 26px 0 21px 0;
}

.catalog__accordion-header {
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  margin-top: -1px;
}

.catalog__accordion-header:hover {
  color: #9D5CD0;
  border-top: 1px solid #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.catalog__accordion-header:hover .ui-icon {
  background-image: none;
  background-color: #D1A9F0;
}

.catalog__accordion-header:focus {
  /* background-color: #9D5CD0; */
  /* color: #FFFFFF; */
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  outline: none;
}

.catalog__accordion-header:focus .catalog__header-text {
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.catalog__accordion-header:focus .ui-icon {
  background-image: none;
  background-color: #D1A9F0;
}

.ui-state-default {
  border: none;
  border-top: 1px solid #CACACA;
  border-bottom: 1px solid #CACACA;
  background: none;
}

.ui-state-active {
  border-top: 1px solid #7943A4;
  border-bottom: 1px solid #7943A4;
  color: #7943A4;
}

.ui-widget-content {
  border: none;
}

.ui-icon {
  position: absolute;
  top: 37px;
  right: 0;
  width: 50px;
  height: 50px;
  background-image: none;
  background: #ECECEC;
  border-radius: 50%;
}

.ui-icon::before {
  content: "";
  position: absolute;
  left: 19px;
  top: 17px;
  width: 12px;
  height: 12px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(45deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

.ui-state-active .ui-icon {
  background-image: none;
  background: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.ui-state-active .ui-icon::before {
  top: 20px;
  left: 17px;
  border: none;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
}

.catalog__empty-block {
  display: flex;
}

.catalog__empty-left {
  display: flex;
  width: 275px;
  height: 190px;
  margin-right: 24px;
  padding: 12px;
  border: 2px solid #B7B7B7;
}

.catalog__empty-square {
  background: #B7B7B7;
  flex-grow: 1;
}

.catalog__empty-header {
  margin: 0;
  margin-bottom: 5px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
}

.catalog__empty-text {
  max-width: 275px;
  margin: 0;
  margin-bottom: 5px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #333333;
}

.catalog__empty-link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  outline: none;
}

.ui-widget-content a {
  color: #9D5CD0;
}

.ui-accordion-content {
  display: flex;
  max-height: 340px;
}

.catalog__artist {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-right: 60px; */
}

.catalog__artist-name {
  margin-right: 60px;
  text-align: left;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
  letter-spacing: 0.5px;
}

.catalog__artist-name:hover {
  margin-bottom: -1px;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.catalog__artist-name:focus {
  background-color: #9D5CD0;
  color: #FFFFFF;
  outline: none;
}

.catalog__artist-name:active {
  margin-bottom: -1px;
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

/* EVENTS */

.events__container {
  padding: 0 135px 80px 135px;
}

.events__header {
  margin: 0;
  margin-bottom: 16px;
  padding-left: 25px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333333;
}

.events__slider {
  position: relative;
  max-width: 1650px;
}

.events__swiper {
  max-width: 1600px;
}

.events__slide {
  display: flex;
  flex-direction: column;
  min-height: 700px;
  max-width: 500px;
}

.events__img {
  max-height: 300px;
}

.events__img  img{
  height: 100%;
}

.events__discription {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  padding: 13px 50px 34px 42px;
  border: 1px solid #CACACA;
}

.events__place {
  margin: 0;
  margin-bottom: 13px;
  padding-left: 8px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #999999;
}

.events__name {
  margin: 0;
  margin-bottom: 10px;
  padding-left: 8px;
  font-size: 24px;
  line-height: 33px;
  font-weight: 600;
  color: #333333;
}

.events__name_first {
  margin-bottom: 1px;
}

.events__text {
  margin: 0;
  margin-bottom: auto;
  padding-left: 8px;
  max-width: 400px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

.events__link-block {
  padding: 8px;
  max-width: 104px;
  cursor: pointer;
}

.events__link {
  /* padding-bottom: 1px; */
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #9D5CD0;
  border-bottom: 1px solid #9D5CD0;
}

.events__link-block:hover .events__link{
  color: #7943A4;
  border-color: #7943A4;
}

.events__link-block:focus {
  background-color: #9D5CD0;
  outline: none;
}

.events__link-block:focus .events__link {
  color: #FFFFFF;
  border-color: #FFFFFF;
  outline: none;
}

.events__link-block:active .events__link {
  color: #333333;
  border-color: #333333;
}

.events-swiper-button-prev {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 325px;
  left: 0;
  border-radius: 50%;
  background: #ECECEC;
  z-index: 10;
  cursor: pointer;
}

.events-swiper-button-prev:hover {
  background-color: #D1A9F0;
}

.events-swiper-button-prev:focus {
  border: 2px solid #9D5CD0;
}

.events-swiper-button-prev:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.events-swiper-button-prev::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 35%;
  width: 12px;
  height: 12px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(135deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

.events-swiper-pagination {
  display: none;
}

.events-swiper-button-next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 325px;
  right: 0;
  border-radius: 50%;
  background: #ECECEC;
  z-index: 10;
  cursor: pointer;
}

.events-swiper-button-next:hover {
  background-color: #D1A9F0;
}

.events-swiper-button-next:focus {
  border: 2px solid #9D5CD0;
}

.events-swiper-button-next:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.events-swiper-button-next::after {
  content: "";
  position: absolute;
  right: 40%;
  top: 35%;
  width: 12px;
  height: 12px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(-45deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

/* PROJECTS */

.projects__container {
  padding: 0 160px 78px 160px;
}

.projects__header {
  margin: 0;
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 65px;
  font-weight: 400;
  color: #333333;
}

.projects__text {
  max-width: 1080px;
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

.tooltip {
  position: relative;
  width: 16px;
  height: 16px;
}

.tooltip__marker {
  position: absolute;
  left: -20px;
  top: 5px;
  width: 16px;
  height: 16px;
  background-image: url(../img/tooltip-marker.svg);
  cursor: pointer;
}

.tooltip__marker:hover,
.tooltip__marker:focus {
  background-image: url(../img/tooltip-marker-hover.png);
}

.tooltip__marker:active {
  background-image: url(../img/tooltip-marker-active.png);
}

.tooltip__popup {
  position: absolute;

  bottom: 25px;
  background-color: #9D5CD0;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #FFFFFF;
  padding: 8px 11px 22px 11px;
  text-align: center;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.tooltip__popup_one {
  width: 264px;
  height: 59px;
  left: -140px;
}

.tooltip__popup_one > .tooltip__item {
  top: 50px;
  left: 124px;
}

.tooltip__popup_two {
  width: 264px;
  height: 74px;
  left: -140px;
}

.tooltip__popup_two > .tooltip__item {
  top: 65px;
  left: 124px;
}

.tooltip__popup_three {
  width: 232px;
  height: 42px;
  left: -130px;
}

.tooltip__popup_three > .tooltip__item {
  top: 32px;
  left: 115px;
}

.tooltip__marker:hover + .tooltip__popup,
.tooltip__marker:focus + .tooltip__popup {
  opacity: 1;
}

.tooltip__item {
  position: absolute;
  width: 10px;
  height: 14.28px;
  transform: matrix(-0.71, -0.71, -0.71, 0.71, 0, 0);
  background-color: #9D5CD0;
}

.projects__text-link {
  font-size: 16px;
  line-height: 32px;
  font-weight: 600;
  color: #9D5CD0;
}

.projects__text-link:hover {
  border-bottom: 1px solid #9D5CD0;
}

.projects__text-link:focus {
  color: #FFFFFF;
  background-color: #9D5CD0;
}

.projects__text-link:active {
  color: #7943A4;
  border-bottom: 1px solid #7943A4;
}

.projects__subtitle {
  margin: 0;
  margin-bottom: 23px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
}

.projects__slider {
  position: relative;
}

.projects__swiper {
  max-width: 1450px;
}

.projects__slide {
  max-width: 450px;
  max-height: 150px;
}

.projects__slide.swiper-slide {
  height: 150px;
}

.projects__img {
  width: 100%;
  height: 100%;
  border: 1px solid #CACACA;
  background: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.projects__img:focus {
  border: 1px solid #9D5CD0;
}

.project__img_one {
  background-image: url(../img/projects-slide1.png);
  background-size: 244px;
}

.project__img_one:hover {
  background-image: url(../img/projects-hover-slide1.png);
}

.project__img_one:active {
  background-image: url(../img/projects-hover-slide1.png);
  border: 1px solid #9D5CD0;
}

.project__img_two {
  background-image: url(../img/projects-slide2.png);
  background-size: 330px;
}

.project__img_two:hover {
  background-image: url(../img/projects-hover-slide2.png);
}

.project__img_two:active {
  background-image: url(../img/projects-hover-slide2.png);
  border: 1px solid #9D5CD0;
}

.project__img_three {
  background-image: url(../img/projects-slide3.png);
  background-size: 229px;
}

.project__img_three:hover {
  background-image: url(../img/projects-hover-slide3.png);
}

.project__img_three:active {
  background-image: url(../img/projects-hover-slide3.png);
  border: 1px solid #9D5CD0;
}

.project__img_four {
  background-image: url(../img/projects-slide4.png);
  background-size: 123px;
}

.project__img_four:hover {
  background-image: url(../img/projects-hover-slide4.png);
}

.project__img_four:active {
  background-image: url(../img/projects-hover-slide4.png);
  border: 1px solid #9D5CD0;
}

.project__img_five {
  background-image: url(../img/projects-slide5.png);
  background-size: 173px;
}

.project__img_five:hover {
  background-image: url(../img/projects-hover-slide5.png);
}

.project__img_five:active {
  background-image: url(../img/projects-hover-slide5.png);
  border: 1px solid #9D5CD0;
}

.project__img_six {
  background-image: url(../img/projects-slide6.png);
  background-size: 252px;
}

.project__img_six:hover {
  background-image: url(../img/projects-hover-slide6.png);
}

.project__img_six:active {
  background-image: url(../img/projects-hover-slide6.png);
  border: 1px solid #9D5CD0;
}

.project__img_seven {
  background-image: url(../img/projects-slide7.png);
  background-size: 286px;
}

.project__img_seven:hover {
  background-image: url(../img/projects-hover-slide7.png);
}

.project__img_seven:active {
  background-image: url(../img/projects-hover-slide7.png);
  border: 1px solid #9D5CD0;
}


.project__img_eight {
  background-image: url(../img/projects-slide8.png);
  background-size: 185px;
}

.project__img_eight:hover {
  background-image: url(../img/projects-hover-slide8.png);
}

.project__img_eight:active {
  background-image: url(../img/projects-hover-slide8.png);
  border: 1px solid #9D5CD0;
}

.project__img_nine {
  background-image: url(../img/projects-slide9.png);
  background-size: 229px;
}

.project__img_nine:hover {
  background-image: url(../img/projects-hover-slide9.png);
}

.project__img_nine:active {
  background-image: url(../img/projects-hover-slide9.png);
  border: 1px solid #9D5CD0;
}

.projects-swiper-button-prev {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 60px;
  left: 0px;
  background-color: #ECECEC;
  border-radius: 50%;
  cursor: pointer;
}

.projects-swiper-button-prev:hover {
  background-color: #D1A9F0;
}

.projects-swiper-button-prev:focus {
  border: 2px solid #9D5CD0;
}

.projects-swiper-button-prev:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.projects-swiper-button-prev::after {
  content: "";
  position: absolute;
  left: 40%;
  top: 35%;
  width: 7px;
  height: 7px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(135deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

.projects-swiper-button-next {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 60px;
  right: 0;
  background-color: #ECECEC;
  border-radius: 50%;
  cursor: pointer;
}

.projects-swiper-button-next:hover {
  background-color: #D1A9F0;
}

.projects-swiper-button-next:focus {
  border: 2px solid #9D5CD0;
}

.projects-swiper-button-next:active {
  background-color: #D1A9F0;
  border: 2px solid #9D5CD0;
}

.projects-swiper-button-next::after {
  content: "";
  position: absolute;
  left: 35%;
  top: 35%;
  width: 7px;
  height: 7px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  transform: rotate(-45deg);
  opacity: 1;
  transition: opacity .3s ease-in-out;
  z-index: 10;
}

/* CONTACTS */

.contacts__feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 155px;
  padding: 35px 160px;
  border: 1px solid #CACACA;
}

.contacts__showroom {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
}

.contacts__text {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  color: #333333;
}

.contacts__validate {
  display: flex;
  align-items: center;
}

.contacts__form {
  margin-right: 20px;
  position: relative;
}

.js-validate-error-label {
  position: absolute;
  top: -20px;
  left: 25px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #D11616;
}

.contacts__input {
  border: 1px solid #333333;
  border-radius: 100px;
  height: 50px;
  cursor: pointer;
}

.contacts__input:hover {
  background-color: #EAEAEA;
}

.contacts__input:focus {
  background-color: #EAEAEA;
}

.contacts__input_name {
  padding: 9px 43px 9px 24px;
  width: 270px;
}

.contacts__input_tel {
  padding: 9px 33px 9px 24px;
  width: 270px;
}

.contacts__btn-one {
  max-width: 330px;
  height: 50px;
  padding: 12.5px 34px;
  border: 2px solid #9D5CD0;
  border-radius: 100px;
  font-size: 18px;
  font-weight: 700;
  color: #9D5CD0;
}

.contacts__btn-one:hover {
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.contacts__btn-one:focus {
  outline: 2px solid #C283F3;
  outline-offset: 3px
}

.contacts__btn-one:active {
  background-color: #7943A4;
  color: #FFFFFF;
  border: 2px solid #D1A9F0;
}

.contacts__btn-two {
  display: none;
}

.contacts__btn-two:hover {
  background-color: #9D5CD0;
  color: #FFFFFF;
}

.contacts__btn-two:focus {
  outline: 2px solid #C283F3;
  outline-offset: 3px
}

.contacts__btn-two:active {
  background-color: #7943A4;
  color: #FFFFFF;
  border: 2px solid #D1A9F0;
}

.contacts__connect {
  margin: 0;
  margin: 3px 0 6px 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
}

.contacts__messengers {
  display: flex;
}

.contacts__whatsapp {
  margin-right: 20px;
}

.contacts__whatsapp img {
  border: 1px solid transparent;
}

.contacts__whatsapp:hover {
  opacity: 0.5;
}

.contacts__whatsapp:focus {
  opacity: 0.5;
  outline: none;
}

.contacts__whatsapp:active img {
  border-radius: 50%;
  border: 1px solid #9643A4;
}

.contacts__telegram img{
  border: 1px solid transparent;
}

.contacts__telegram:hover {
  opacity: 0.5;
}

.contacts__telegram:focus {
  opacity: 0.5;
  outline: none;
}

.contacts__telegram:active img {
  border-radius: 50%;
  border: 1px solid #9643A4;
}

/* Карта */
[class*="ground-pane"] {
  filter: grayscale(1);
}

.contacts__map {
  max-width: 1920px;
  height: 700px;
}

/* FOOTER */

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 45px 160px 50px 160px;
  background-color: #000000;
}

.footer__logoblock {
  margin-top: 5px;
}

.footer__social-block {
  display: flex;
}

.footer__social {
  width: 45px;
  height: 45px;
}

.footer__social_vk {
  margin-right: 20px;
  background-image: url(../img/footer-vk-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__social_vk:hover {
  background-image: url(../img/footer-vk-icon-hover.svg);
}

.footer__social_vk:focus {
  background-image: url(../img/footer-vk-icon-hover.svg);
  outline: none;
}

.footer__social_vk:active {
  background-image: url(../img/footer-vk-icon-active.svg);
}

.footer__social_instagram {
  margin-right: 20px;
  background-image: url(../img/footer-instagram-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__social_instagram:hover {
  background-image: url(../img/footer-instagram-icon-hover.svg);
}

.footer__social_instagram:focus {
  background-image: url(../img/footer-instagram-icon-hover.svg);
  outline: none;
}

.footer__social_instagram:active {
  background-image: url(../img/footer-instagram-icon-active.svg);
}

.footer__social_fb {
  background-image: url(../img/footer-fb-icon.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__social_fb:hover {
  background-image: url(../img/footer-fb-icon-hover.svg);
}

.footer__social_fb:focus {
  background-image: url(../img/footer-fb-icon-hover.svg);
  outline: none;
}

.footer__social_fb:active {
  background-image: url(../img/footer-fb-icon-active.svg);
}

.footer__social-link {
  width: 100%;
  height: 100%;
}

@media (max-width: 1800px) {

  .galery__select-block {
    width: 280px;
  }

  .galery__inner {
    max-width: 280px;
  }

  .galery__list.choices__list--dropdown {
    min-width: 280px;
  }

  .ui-accordion-content {
    min-height: 435px;
  }

  .events__wrapper {
    margin-bottom: 12px;
  }

  .events__place {
    text-align: end;
    margin-bottom: 5px;
    font-weight: 400;
  }

  .events-swiper-button-prev {
    display: none;
  }

  .events-swiper-pagination {
    display: block;
    text-align: center;
  }

  .events-swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }

  .events__swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7px;
  }

  .events-swiper-button-next {
    display: none;
  }

  .contacts__feedback {
    flex-direction: column;
    align-items: flex-start;
    max-height: 342px;
  }

  .contacts__showroom {
    margin-bottom: 0;
  }

  .contacts__btn-one {
    max-width: 345px;
    padding: 15px 40px 12.5px 40px;
  }

  .projects__swiper {
    max-width: 820px;
  }
}

@media (max-width: 1600px) {

  .header__container {
    justify-content: space-between;
    padding: 0 50px;
  }

  .header__burgermenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 768px;
    padding: 37px 48px 51px 50px;
    z-index: 100;
    background: rgba(0, 0, 0, 0.9);
    transition: transform .3s ease-in-out;
    transform: translateX(-101%);
  }

  .header__burgermenu.is-active {
    transform: none;
  }

  .header__burgermenu-list {
    margin-bottom: auto;
  }

  .header__burgermenu-item {
    font-weight: 600;
    font-size: 24px;
    line-height: 64px;
    color: #FFFFFF;
  }

  .header__burgermenu-btn {
    width: 29px;
    height: 29px;
    margin-bottom: 30px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../img/X-close-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__burgerenter {
    display: flex;
    align-items: center;
    width: 257px;
    height: 60px;
    padding: 19px 88px 22px 88px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
  }

  .header__burgerenter-icon {
    width: 13px;
    height: 13px;
    margin-right: 7px;
    background-image: url(../img/header-enter-icon.svg);
    background-repeat: no-repeat;
  }

  .header__burgerenter-link {
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    color: #FFFFFF;
  }

  .header__burger {
    display: block;
    margin-top: 5px;
  }

  .header__logoblock {
    margin: 0;
  }

  .header__nav {
    display: none;
  }

  .header__enter {
    display: none;
  }

  .header__top-search {
    display: block;
  }

  .header__searchbtn {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    background-image: url(../img/top-search-img.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__searchmenu-tabl {
    display: none;
    position: absolute;
    z-index: 100;
    top: 33px;
    bottom: 0;
    right: 50px;
    max-width: 315px;
    height: 36px;
    /* padding: 18px 13px 18px 32px; */
    background-color: #000000;
    transition: opacity .3s ease-in-out;
    opacity: 0;
  }

  .header__searchmenu-tabl.search-active {
    opacity: 1;
    display: flex;
  }

  .header__form-tabl {
    margin-right: 14px;
    width: 218px;
  }

  .header__input-tabl {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  }

  .header__active-search {
    width: 29px;
    height: 29px;
    margin-right: 10px;
    background-image: url(../img/top-search-img.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__closed-search {
    width: 29px;
    height: 29px;
    border: none;
    background: transparent;
    cursor: pointer;
    background-image: url(../img/X-close-img.svg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .header__bottom-menu {
    display: none;
  }

  .about__container {
    padding: 80px 50px 70px 50px;
  }

  .galery__container {
    padding: 80px 50px 77px 50px;
    min-height: 560px;
  }

  .galery__slider {
    max-width: 594px;
  }

  .catalog__container {
    padding: 80px 50px 80px 50px;
  }

  .catalog__block-left {
    max-width: 437px;
  }

  .events__container {
    padding: 0 50px 77px 50px;
  }

  .events__swiper {
    max-width: 924px;
  }

  .events__slide {
    min-height: 683px;
    max-width: 290px;
  }

  .events__img {
    max-height: 200px;
  }

  .events__discription {
    padding: 14px 32px 42px 26px;
    min-height: 483px;
  }

  .events__name {
    margin-bottom: 5px;
  }

  .projects__container {
    padding: 0 50px 80px 50px;
  }

  .contacts__feedback {
    padding: 42px 50px 39px 50px;
    min-height: 342px;
  }

  .footer__container {
    padding: 40px 50px 40px 50px;
  }

  .footer__logoblock {
    margin-top: 10px;
  }

  .footer__social_vk {
    margin-right: 30px;
  }

  .footer__social_instagram {
    margin-right: 30px;
  }

}

@media (max-width: 1024px) {

  .header__logoblock {
    margin-top: 3px;
    margin-right: 5px;
  }

  .hero__container {
    background-image: url(../img/hero-tabl-bg.jpg);
    padding: 215px 3px 114px 50px;
    min-height: 768px;
  }

  .hero__header {
    margin-bottom: 10px;
  }

  .hero__text {
    max-width: 660px;
    margin-bottom: 155px;
  }

  .about {
    padding-top: 768px;
  }

  .galery__container {
    background-image: url(../img/galery-tabl-bgimg.jpg);
  }

  .galery__checkbox {
    margin-bottom: 34px;
  }

  .galery__checkbox-label:not(:last-child) {
    margin-bottom: 8px;
  }

  .galery-swiper-pagination {
    top: 33px;
    left: 50px;
  }

  .galery-swiper-button-prev {
    left: 0;
  }

  .galery-swiper-button-next {
    left: 101px;
  }

  .catalog__block-right {
    max-width: 437px;
  }

  .ui-accordion .ui-accordion-header {
    min-height: 112px;
  }

  .catalog__artist-name {
    letter-spacing: 0.42px;
  }

  .events__header {
    padding: 0;
  }

  .projects__swiper {
    max-width: 820px;
  }

  .projects__text {
    margin-bottom: 19px;
  }

  .projects__slide.swiper-slide {
    height: 128px;
  }

  .project__img_one {
    background-size: 210px;
  }

  .project__img_two {
    background-size: 283px;
  }

  .project__img_three {
    background-size: 229px;
  }

  .project__img_four {
    background-size: 105px;
  }

  .project__img_five {
    background-size: 150px;
  }

  .project__img_six {
    background-size: 215px;
  }

  .project__img_seven {
    background-size: 244px;
  }

  .project__img_eight {
    background-size: 159px;
  }

  .project__img_nine {
    background-size: 196px;
  }

  .contacts__showroom {
    margin-bottom: 4px;
  }

  .projects-swiper-button-prev {
    top: 50px;
  }

  .projects-swiper-button-next {
    top: 50px;
  }

  .contacts__map {
    max-width: 1024px;
  }

  .footer__social {
    width: 60px;
    height: 60px;
  }

}

@media (max-width: 1000px) {

  .header__searchbtn {
    width: 27px;
    height: 27px;
  }

  .header__searchmenu-tabl {
    top: 0;
    right: 0;
    min-width: 320px;
    width: 100%;
    height: 75px;
    padding: 15px 15px 20px 55px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .header__form-tabl {
    margin-top: 8px;
    margin-right: 35px;
    width: 180px;
  }

  .header__active-search {
    width: 15px;
    height: 15px;
    margin-right: 3px;
    margin-top: 25px;
  }

  .header__closed-search {
    width: 15px;
    height: 15px;
  }

  .hero__container {
    background-image: url(../img/hero-768-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galery__container {
    flex-direction: column;
    background-image: url(../img/galery-768-bgimg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .galery__select-block {
    margin-bottom: 45px;
  }

  .galery__checkbox {
    margin-bottom: 11px;
  }

  .galery__slider {
    max-width: 668px;
  }

  .catalog__container {
    padding-bottom: 70px;
  }

  .catalog__text {
    margin-bottom: 20px;
  }

  .catalog__content {
    flex-direction: column-reverse;
  }

  .catalog__block-left {
    max-width: 100%;
    margin-right: 0;
  }

  .catalog__left-img {
    margin-bottom: 27px;
  }

  .catalog__block-right {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .catalog__artist-name {
    letter-spacing: 0.38px;
  }

  .ui-accordion-content {
    min-height: 338px;
  }

  .events__swiper {
    max-width: 668px;
  }

  .events__wrapper {
    margin-bottom: 25px;
  }

  .events__slide {
    max-width: 317px;
  }

  .events__discription {
    padding: 14px 17px 42px 28px;
  }

  .events__name {
    max-width: 243px;
    margin-bottom: 2px;
  }

  .events__text {
    max-width: 243px;
  }

  .projects__text {
    margin-bottom: 27px;
  }

  .projects__subtitle {
    margin-bottom: 29px;
  }

  .projects__swiper {
    max-width: 562px;
  }

  .projects__slide.swiper-slide {
    height: 106px;
  }

  .project__img_one {
    background-size: 210px;
  }

  .project__img_two {
    background-size: 217px;
  }

  .project__img_three {
    background-size: 195px;
  }

  .project__img_four {
    background-size: 105px;
  }

  .project__img_five {
    background-size: 121px;
  }

  .project__img_six {
    background-size: 176px;
  }

  .project__img_seven {
    background-size: 194px;
  }

  .project__img_eight {
    background-size: 143px;
  }

  .project__img_nine {
    background-size: 182px;
  }

  .projects-swiper-button-prev {
    top: 40px;
  }

  .projects-swiper-button-next {
    top: 40px;
  }

  .contacts__feedback {
    padding: 40px 50px;
    min-height: 404px;
  }

  .contacts__validate {
    flex-wrap: wrap;
  }

  .contacts__form {
    margin-top: 2px;
    margin-bottom: 12px;
    margin-right: 0;
  }

  .contacts__form:nth-child(1) {
    margin-right: 20px;
  }

  .contacts__input {
    width: 323px;
  }

  .contacts__btn-one {
    max-width: 317px;
    padding: 15px 27px 12.5px 27px;
  }

}

@media (max-width:767px) {

  .projects__swiper {
    max-width: 195px;
  }

  .project__img_one {
    background-size: 105px;
  }

  .project__img_two {
    background-size: 141px;
  }

  .project__img_three {
    background-size: 117px;
  }

  .project__img_four {
    background-size: 54px;
  }

  .project__img_five {
    background-size: 75px;
  }

  .project__img_six {
    background-size: 109px;
  }

  .project__img_seven {
    background-size: 124px;
  }

  .project__img_eight {
    background-size: 80px;
  }

  .project__img_nine {
    background-size: 99px;
  }

  .contacts__validate {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 18px;
  }

  .contacts__feedback {
    min-height: 345px;
    padding: 0 15px 15px 15px;
    border: none;
  }

  .contacts__showroom {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 16px;
  }

  .contacts__text {
    font-size: 14px;
    margin-bottom: 4px;
  }

  .contacts__form:nth-child(1) {
    margin-right: 0;
  }

  .contacts__input {
    max-width: 290px;
    height: 40px;
    margin-bottom: 10px;
  }

  .js-validate-error-label {
    position: absolute;
    top: 10px;
    left: 25px;
  }

  .contacts__input_name {
    padding: 4px 80px 4px 24px;
    width: 290px;
  }

  .contacts__input_tel {
    padding: 4px 72px 4px 24px;
    width: 290px;
  }

  .contacts__btn-one {
    display: none;
  }

  .contacts__btn-two {
    display: block;
    height: 40px;
    width: 128px;
    border: 2px solid #9D5CD0;
    border-radius: 100px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #9D5CD0;
  }

  .contacts__connect {
    margin-bottom: 6px;
    font-size: 18px;
    line-height: 32px;
  }
}

@media (max-width: 640px) {

  .header__container {
    height: 45px;
    padding: 0 15px;
  }

  .header__burgermenu {
    min-height: 600px;
    padding: 15px 15px 27px 15px;
  }

  .header__burgermenu-item {
    font-size: 16px;
    line-height: 32px;
  }

  .header__burgerenter {
    width: 115px;
    height: 40px;
    padding: 10px 31px 11px 31px;
  }

  .header__burgerenter-icon {
    width: 9px;
    height: 9px;
    margin-right: 4px;
    background-image: url(../img/header-enter-320-icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header__burgerenter-link {
    font-size: 12px;
    line-height: 16px;
  }

  .header__logoblock {
    margin-top: 5px;
  }

  .header__searchbtn {
    width: 18px;
    height: 18px;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 355px;
    background-image: url(../img/hero-320-bg.jpg);
    padding: 79px 27px 45px 28px;
  }

  .hero__header {
    margin-bottom: 11px;
    max-width: 258px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }

  .hero__text {
    margin-bottom: 42px;
    max-width: 265px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    text-align: center;
  }

  .hero__link {
    max-width: 200px;
    max-height: 40px;
    padding: 9px 13px 11px 16px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }

  .about {
    padding-top: 355px;
  }

  .about__container {
    padding: 50px 15px 42px 15px;
  }

  .about__header {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .about__text {
    font-size: 14px;
    line-height: 28px;
  }

  .galery__container {
    padding: 50px 15px 48px 15px;
    background-image: url(../img/galery-320-bgimg.jpg);
  }

  .galery__header {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .galery__filter {
    margin-bottom: 5px;
  }

  .galery__select-block {
    width: 290px;
    margin-bottom: 35px;
  }

  .galery__checkbox {
    padding-bottom: 15px;
  }

  .galery__inner {
    max-width: 290px;
  }

  .galery__wrapper {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .galery-swiper-pagination {
    top: 394px;
    left: 128px;
  }

  .galery-swiper-button-prev {
    top: 388px;
    left: 80px;
  }

  .galery-swiper-button-next {
    top: 388px;
    left: 180px;
  }

  .galery-swiper-button-next::after {
    left: 32%;
  }

  .catalog__container {
    padding: 50px 15px 52px 15px;
  }

  .catalog__header {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 12px;
  }

  .catalog__text {
    display: none;
  }

  .catalog__left-img {
    margin-bottom: 17px;
  }

  .catalog__left-name {
    margin-bottom: 12px;
  }

  .catalog__left-text {
    max-width: 288px;
  }

  .ui-accordion .ui-accordion-header {
    min-height: 72px;
    margin-bottom: -1px;
    padding: 20px 0;
    font-size: 18px;
  }

  .ui-accordion .ui-accordion-content {
    padding: 20px 0 20px 0;
  }

  .ui-accordion-content {
    max-height: 815px;
  }

  .ui-icon {
    width: 30px;
    height: 30px;
    top: 25px;
  }

  .ui-icon::before {
    left: 11px;
    top: 10px;
    width: 7px;
    height: 7px;
  }

  .ui-state-active .ui-icon::before {
    top: 11px;
    left: 9px;
  }

  .catalog__empty-left {
    width: 90px;
    height: 130px;
  }

  .catalog__empty-header {
    margin: 0;
    margin-bottom: 5px;
    font-size: 18px;
  }

  .catalog__empty-text {
    max-width: 174px;
  }

  .catalog__artist {
    margin-right: 0;
  }

  .events__container {
    padding: 0 15px 47px 15px;
  }

  .events__header {
    margin-bottom: 12px;
    padding-left: 0;
    font-size: 28px;
    line-height: 38px;
  }

  .events__swiper {
    max-width: 290px;
  }

  .events__wrapper {
    margin-bottom: 14px;
  }

  .events__slide {
    max-width: 290px;
  }

  .events__discription {
    padding: 15px 18px 42px 15px;
  }

  .events__place {
    margin-bottom: 11px;
  }

  .events__name {
    margin-bottom: 4px;
  }

  .events__text {
    max-width: 234px;
  }

  .events__link {
    margin-left: 5px;
  }

  .events__swiper .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 7.5px;
  }

  .projects__container {
    padding: 0 15px 55px 15px;
  }

  .projects__header {
    margin-bottom: 12px;
    font-size: 28px;
    line-height: 38px;
  }

  .projects__text {
    max-width: 290px;
    margin-bottom: 10px;
  }

  .projects__subtitle {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .projects__slide.swiper-slide {
    height: 65px;
  }

  .projects-swiper-button-prev {
    top: 18px;
  }

  .projects-swiper-button-next {
    top: 18px;
  }

  .contacts__feedback {
    min-height: 343px;
  }

  .contacts__text {
    line-height: 24px;
  }

  .contacts__validate {
    padding-top: 8px;
  }

  .contacts__form {
    margin-top: 0;
    margin-bottom: 10px;
  }

  .contacts__connect {
    margin-bottom: 9px;
  }

  .contacts__map {
    height: 320px;
  }

  .footer__container {
    flex-direction: column-reverse;
    padding: 20px 55px 20px 55px;
    align-items: center;
  }

  .footer__social-block {
    margin-bottom: 10px;
    justify-content: space-between;
    max-width: 210px;
  }

  .footer__social {
    width: 50px;
    height: 50px;
  }

  .footer__social_vk {
    margin-right: 30px;
  }

  .footer__social_instagram {
    margin-right: 30px;
  }
}

